@media screen and (max-width: 1200px){
	table {
		border-collapse: collapse;
		font-size : 1.3em;
		margin-top: 2em;
	}
	td {
		padding: 0em;
		display: flex;
		border-bottom: none;
		flex-direction: column;
	}
	tr {
		border-bottom: 5px solid white;
		border-bottom-color: #379946;
	}
	h2 {
		padding-top: 3em;
	}
	.Progress {
		width: 100%;
	}
	#title {
		height: 8em;
	}
	#flex-container {
		padding-top: 3em;
	}
	#menu li {
		display: list-item;
	}
	@media screen and (max-width: 950px){
		table {
			font-size: 1.7em;
		}
	}
}

